{% extends 'base/base.html' %}

{% block title %}
Signup
{% endblock %}

{% block content %}
<div class="pl-5 pr-5 pt-1 ml-5 mr-5">

    <div class="text-center">
        <span class="text-xl text-gray-700">Registration Form</span>
    </div>
    <form class="" action="{% url 'save' %}" id="signUpForm" method="POST">
        {% csrf_token %}
        {{form}}


        <div class="mt-4">
            <button type="submit" class="form-control btn btn-primary btn-lg">Click to proceed <i
                    class="fa fa-long-arrow-right"></i></button>

        </div>
    </form>

</div>


{% endblock %}

{% block side %}
<div class="card" style="width: 13rem">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">
            If you have already Registered , Please Click on the link below
        </p>
        <a href="{% url 'login' %}" class="card-link">Click here to Login</a>
    </div>
</div>
{% endblock %}


{% block Jscript %}
<script type="text/javascript">
    $(document).ready(function(){
    $(document).on('submit','#signUpForm',function(e){
     e.preventDefault();
     e.stopPropagation();
     var formdata = $(this).serialize();
     $.ajaxcall("{% url 'save' %}",formdata,function(data){
     console.log(data)
     })

    })

    })



</script>

{% endblock %}